body{
  /*background-color: rgb(11, 95, 229);*/
  min-height: 667px;
  background: rgb(11, 95, 229); /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(blue, lightblue); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(blue, lightblue); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(blue, lightblue); /* For Firefox 3.6 to 15 */
  background: linear-gradient(blue, lightblue); /* Standard syntax */
}

.modal-header {
  background-color: beige;
  color: black;
  padding: 1px;
  margin-bottom: -20px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal-body {
  background-color: lightblue;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.modal-dialog {
  margin-top: 0px;
  top: -15px;
}

.all-growls{
  display: block;
  margin: 5px;
}

.delete-link{
  float: right;
  padding-top: 40px;
}

.header{
  text-align: center;
  padding: 20px 20px;
}

#growlTextArea {
  color: black;
  margin-top: -8px;
}

#growlForm {
  margin-bottom: -8px;
}

.NewTitle{
  display: inline-block;
}

.form-group{
  display: inline-block;
}

/*.NewGrowlButton{
  padding-top: 20px;
}*/

.GrowlButton{
 padding: 15px 30px;
 border-radius: 5px;
 font-size: 14px;
 font-weight: bold;
 background-color: rgb(78, 244, 66);
}

.list{
  text-align: left;
  list-style: none;
  padding: 10px;
}

.log {
  text-align: right;
}

.button{
  color: white;
  padding: 10px 15px;
  font-size: 20px;
  background-color: red;
  border-radius: 5px;
  text-align: right;
}

.header{
  display: inline-block;
}

.login{
  text-align: right;
  padding-bottom: 15px;
  padding-right: 5px;
}

.App {
  text-align: center;
  color: white;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.vcent {
  position: absolute;
  top: 65px;
  left: 84%;
}

.loginImg {
  visibility: visible;
}

.logoutImg {
  visibility: hidden;
}

.loginTitle {
  color: red;
  position: absolute;
  top: 75px;
  left: 7%;
  font-size: 60px;
}

.logoutTitle {
  color: gold;
  position: absolute;
  top: 35px;
  left: 40%;
  font-size: 75px;
}

.App-header {
  background-color: #222;
  height: 176px;
  width:100%;
  padding: 20px;
  color: white;
  position: fixed;
  z-index: 1;
  margin-top: -5px;
}

pre {
  white-space: pre-wrap;
  width:525px;
}

.App-body {
  padding-top: 137px;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.avatar {
  width: 48px;
  height: 48px;
  border-radius: 5px;
}

textarea {
  resize: none;
}

.NewGrowlButton {
  text-align: right;
  margin-right: 30px;
}

#growlLength {
  padding-right: 10px;
}
/*.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}*/
